/* Apply to all elements*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* sets background color for body element*/

body {
    background-color: #d9dcd6;
}
/* Style for the header element*/

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* style for h1 element in header */
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* styles for .seo element inside h1 element of the header */
.header h1 .seo {
    color: #d9dcd6;
}

/* style for nav element within the header*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* style for li elements with header element*/
.header nav ul {
    list-style-type: none;
}

/* style for li inside the ul element of the nav element */
.header nav ul li {
    display: inline-block;
    padding: 10px;
    
}

/* style for anchor elements */
a {
    color: #ffffff;
    text-decoration: none;
}

/* style for paragraph elements */
p {
    font-size: 16px;
}

/* style for the hero class */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* style for float-left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* style for float-right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* style for content class*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* style for benefits class*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* style for benefit-lead*/
.benefit-lead {
    margin-bottom: 32px;
    color: #ffffff;
}

/* style for benefit-brand class */
.benefit-brand {
    margin-bottom: 32px;
    color: #ffffff;
}

/* style for benefit-cost*/
.benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* style for h3 element in benefit-lead class*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*style for h3 element within benefit-brand class*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*style for h3 element in benefit-cost class*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* style for img within benefit-lead class*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* style for benefit-brand img*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* style for benefit-cost img*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* style for search-engine-optimization class*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* style for online-reputation-managment class*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* style for social-media-marketing class */
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* style for image inside search-engine-optimization*/
.search-engine-optimization img {
    max-height: 200px;
}

/*style for img inside online-repuation*/
.online-reputation-management img {
    max-height: 200px;
}

/*style for img within social-media-marketing*/
.social-media-marketing img {
    max-height: 200px;
}

/* style for h2 element within search-engine-optimization*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* style for h2 element within online-reputuation-managment class*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* style for h2 element with social-media-market class*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
 
/* style for footer element*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* style for h4 element with footer element*/
.footer h4 {
    font-size: 20px;
}
